body {

    background-color: black;
    font-family: 'Poppins', Verdana, sans-serif;
    /*Escolha da tipografia*/
    height: 100vh;
    margin: 0;


}

#divLogoPages a {
    text-decoration: none;
    color: white;
}


.money-bag {
    width: 1em;
    /*O ícone de bolsa de dinheiro acompanhará o tamanho da fonte ao ajustar a tela*/
    transform: rotate(45deg);
    padding-bottom: 1%;
}

#textoLogoPages{
    font-size:large;
}

.nav-link:hover {
    text-decoration: underline;
}

#titulo {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-weight: 600;
}

.subtitulo {
    color: white;
    align-items: center;
    text-align: center;
    font-size: large;
}

h3 {
    color: black;
}

.principal {
    background-color: #92f725;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 560px;
    margin: auto;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}

.material-symbols-outlined:hover {
    cursor: pointer;
}

.checkboxModal {
    display: none;
}

.checkboxModal2 {
    display: none;
}

#modalExemplo:checked+.modal {
    display: flex;
}

#modalExemplo2:checked+.modal {
    display: flex;
}

.modal {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.modal .fecharModal {
    position: absolute;
    top: 10px;
    right: 10px;

}

.modal .fecharModal2 {
    position: absolute;
    top: 10px;
    right: 10px;

}

.modal .fecharModal:hover {
    cursor: pointer;
    color: #F70c42;
}

.modal .fecharModal2:hover {
    cursor: pointer;
    color: #F70c42;
}

.modal .conteudoModal {
    width: 80%;
    height: 75%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 15px black;
    overflow: auto;
}

.modal .conteudoModal2 {
    width: 80%;
    height: 75%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 15px black;
    overflow: auto;
}

.container p {
    text-shadow: none;
}

fieldset {
    border: 0;
}

.botao {
    background-color: #92f725;
    border: 0;
    margin-bottom: 1em;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2);
    text-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.5);
}

input,
button {
    border-radius: 10px;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    display: block;
}

fieldset .grupo .campo {
    float: left;
    margin: 1em;
}

.material-symbols-outlined:hover {
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    margin: 10px auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.minhas-metas {
    flex: 1 1 200px;
    margin: 10px;
    background-color: #92f725;
    padding: 6px;
    border-radius: 10px;
    text-align: left;
}

.minhas-metas:hover{
    transform: scale(1.02);
}

@media screen and (max-width: 650px) {

    .container {
        display: flex;
        flex-wrap: wrap;
        max-width: 290px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1000px){
    .modal .conteudoModal {
        max-height: 450px;
    }
    .modal .conteudoModal2{
        max-height: 450px;
    }
}