.titulo {
    padding-top: 0.8em;
    font-weight: 600;
    margin-bottom: 0.5em;
}
.titulo-sobre h3 {
    margin-top: 2.5em;
}

.subtitulo {
    font-size: 1.2em;
}

.cartao {
    margin: 30px auto;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.cartao img {
    max-width: 150px;
    transition: transform 0.5s;
}

.cartao img:hover {
    transform: scale(1.03);
}


