body {
    background-color: black;
    font-family: 'Poppins', Verdana, sans-serif;    /*Escolha da tipografia*/
    margin: 0;
    padding: 0;
}

.nav-item {   /*Estilo do menu normal*/
    padding-right: 1em;
}

.nav-link:hover {   /*Ao passar o mouse nos itens do menu normal*/
    text-decoration: underline;
}

#divLogoIndex { /*Estilo da div da Logo + bolsa de dinheiro na página Index*/
    display: block;
    margin-bottom: -50px;
}

#textoLogoIndex { /*Estilo do Texto do Logo "Economy+ na página Index*/
    font-size: 55px;
}

#textoLogoPages { /*Estilo do Texto do Logo "Economy+ nas outras páginas*/
    font-size: 18px;
}

.money-bag {
    width: 0.8em;  /*O ícone de bolsa de dinheiro acompanhará o tamanho da fonte ao ajustar a tela*/
    transform: rotate(45deg);
    padding-bottom: 1%;
}

.carousel-border {
    border-radius: 12px;
}

.carousel-item img {      /*Estilo das imagens do carrossel*/
    max-height: 600px;
}

.carousel-item h5, p {  /*Estilo do título e texto do carrossel*/
    text-shadow: 2px 2px 2px #000000;
}

.carousel-item h5 a {   /*Estilo apenas do título do carrossel*/
    font-size: 2.5vw;
    font-weight: 800;
    text-decoration: none;
    color: white ;
}

.carousel-item p a {   /*Estilo apenas do texto do carrossel*/
    font-size: 1.8vw;
    font-weight: 500;
    text-decoration: none;
    color: white ;
}

#botaoFacaParte {           /*Estilo do botão de "Faça parte do Economy+*/
    background-color: #92F725;
    transition: transform 0.4s;
    font-size: 110%;
}

#botaoFacaParte:hover {     /*Estilo do botão de "Faça parte do Economy+ ao passar o mouse*/
    transform: scale(1.01);
}

@media screen and (min-width: 1000px) {     /*Responsividade: Em telas maiores de 1000px de largura, faça isso: */
    .dropdown {    /*Menu Hamburguer (dropdown) desaparece)*/
        display: none;
    }
}

@media screen and (max-width: 1000px) { /*Responsividade: Em telas menores de 1000px de largura, faça isso: */
    .carousel-caption {
        top: 0;
    }
    .page-title {
        font-size: 35px;
    }
    .dropdown {    /*Menu Hamburguer (dropdown) aparece na direita)*/
        display: inline;
        float: right;
    }
}