body {background-color: black;}

.home-page-btn, .home-page-btn:hover {
    background-color: chartreuse;
}

.carousel-border {
    border-radius: 12px;
}

.money-bag {
    width: 2%;
    transform: rotate(45deg);
}